.section{
    z-index: 10;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_parent{
    width: 100%;
}
.section_para{
    margin-top: 200px;
    /* background-color: yellow; */
}
.section__info{
    margin-left: 70px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
}

.small{
    font-size: large;
    text-transform: capitalize;
}

.medium{
    font-weight: 600;
    font-size: x-large;
    text-transform: uppercase;
}

.large{
    font-weight: 500;
    font-size: 45px;
    text-transform: uppercase;
}

.btn{
    width: 150px;
    font-weight: 700;
    font-size: small;
    background-color: transparent;
    height: 50px;
    border: 2px solid white;
    color: white;
    margin-top: 50px;
    cursor: pointer;
    text-transform: uppercase;

    display: inline-block;
    position: relative;
}

.btn-hover{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;

    position: absolute;
    top: 0;
    left: 0;

    transform: scaleY(0);
    transform-origin: top center;

    transition: transform .3s;
}

.btn:hover .btn-hover{
    transform: scaleY(1);
    transform-origin: bottom center;
}

.btn-txt{
    width: 100%;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: color .2s;
}

.btn:hover .btn-txt{
    color: black;
    font-weight: 600;
}


.section__downarrow{
    margin-bottom: -170px;
    height: 70px;
    animation: animateDown infinite 1.5s;
}

.section__downarrow > img{
    height: 100%;
}